.header-container {
  background-color: #272727;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto';
  list-style-type: none;
  margin: 0px;
}

.nav-item-link {
  text-decoration: none;
}

.home-logo {
  width: 120px;
}

.header-link-items {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.header-item {
  margin: 0px;
  color: #f1f5f9;
  margin-left: 11px;
  margin-right: 11px;
  font-weight: 500;
  font-size: 17px;
}

.logout-button {
  border: none;
  background-color: #6366f1;
  border-radius: 4px;
  padding: 8px 35px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.header-link-icons {
  display: none;
  list-style-type: none;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 15px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logout-button {
    display: none;
  }

  .header-link-items {
    display: none;
  }

  .header-link-icons {
    display: flex;
  }

  .header-icon {
    font-size: 21px;
    color: #f8fafc;
    margin-left: 20px;
    cursor: pointer;
  }

  .home-logo {
    width: 65px;
  }
}
